<!DOCTYPE html>

<html>

<head>
    <title>Weather 4Cast</title>
    <link rel="icon" href="img/forecast.png">
    <link href="https://fonts.googleapis.com/css?family=Lato|Dancing+Script:700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="default">
    <h1>{{title}}</h1>

    <header>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </header>