<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather 4Cast</title>
    <link rel="icon" href="img/forecast.png">
    <link href="https://fonts.googleapis.com/css?family=Lato|Dancing+Script:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="content">
        {{>header}}
        <p>This is some helpful text.</p>
    </div>
    {{>footer}}
</body>

</html>