{{>header}}

<div>
    <p>Use this site to get your weather!</p>

    <form>
        <input type="text" placeholder="&#xf002;   Location"
            style="font-family: FontAwesome, Arial; font-style: normal">
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>
    <p id="message-5"></p>
</div>

<script src="js/app.js"></script>

{{>footer}}